#first-div {
	height: 200px;
	width: 450px;
	background-color: yellow;
	float: left;

}


#second-div {
	height: 200px;
	width: 450px;
	background-color: purple;
	position: absolute;
	left:460px;

}


#third-div {
	height:200px;
	width: 450px;
	background-color: orange;
	float: right;
}


#image-container {
	width: 600px;
	height: 300px;
	margin: 400px 400px 400px 400px;

}

#image-select {
	width: full-width;
}

.div-heading {
  margin:50px 50px 50px 50px;	
}